.logo
{
width:15%;
height:150px;
float:left;
}
.menu
{
width:80%;
height:150px;
float:left;
margin-left:10px;
background-color:#00cccc;
}
.devide
{
	width:15%;
	height:400px;
float:left;
margin-top:10px;
}
.marque
{
width:99%;
height:190px;
}
.marque_2
{
width:99%;	
height:190px;
margin-top:10px;
}
.about
{
	width:80%;
	height:400px;
	margin-left:15px;
	margin-top:10px;
	float:left;
}
.copyright
{
	width:96%;
	height:120px;
	background-color:#00cccc;
	margin-top:10px;
	float:left;
	font-size:30px;
	text-align:center
}
